.popularPosts {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(180px, auto));
  }
  .popularPost {
    background-color: #fff;
    display: grid;
    grid-template-rows: 5fr 2fr;
    border-radius: 6px;
    border: 1px solid grey;
    align-items: self-end;
    padding: 10px;
    max-height: 400px;
  }
  .popularPost:hover {
    cursor: pointer;
  }
  .popularPost img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .popularPostContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
  }
  .popularPostContent p:nth-child(2) {
    color: black;
    font-weight: 600;
  }
  .popularPostSection {
    background-color: #fff;
    padding-bottom: 15px;
  }
  .addToCartBtn {
    border: 1px solid orange;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: orange;
    max-width: 150px;
    font-weight: 500;
  }
  .addToCartBtn:hover {
    font-weight: 600;
  }