* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
:root {
  --primary-color: #121242;
  --secondary-color: #232f3e;
  --ternary-color: #ccd9e9;
}
body {
  background-color: var(--ternary-color);
}
.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border-radius: 5px;
}
ul {
  list-style: none;
}
button,
input,
select,
i:hover {
  cursor: pointer;
}
form input,form select{
  color: var(--primary-color);
  font-weight: 600;
}
/* header */
header {
  background-color: var(--primary-color);
  padding: 15px 0px;
}
.heading {
  padding: 10px 0px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brandName {
  color: #fff;
}
.search {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  color: var(--primary-color);
}
.signupBtn {
  border-radius: 15px;
  padding: 10px 25px;
  border: none;
  font-weight: 600;
}
.headerMenu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
}
.cart:hover {
  cursor: pointer;
}
.cart i {
  font-size: 20px;
}
.cartCount {
  width: 20px;
  height: 20px;
  background-color: black;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: -9px;
  right: 6px;
  font-size: 15px;
  border-top: 1px solid yellow;
  border-right: 1px solid yellow;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.avatar img:hover {
  cursor: pointer;
}
#images{
  color: #FFF;
}
/* end header */

/* Form */
/* form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid white;
  padding: 25px 20px 40px 20px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  max-width: 600px;
  width: 100%;
  left: 322px;
  z-index: 2;
  display: none;
  top: 85px;
  position: fixed;
}
form input{
  border-radius: 5px;
  border: none;
  padding: 8px 30px;
}
.flex{
  display: flex !important;
}
form button{
  border-radius: 5px;
  border: none;
  padding: 8px 30px;
  color: #0a166f;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  width: 30%;
  margin: 0 auto;
}
form button:hover{
  color: #1124b6;
}
.formContainer{
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.avatar{
  display: flex;
  justify-content: center;
}
form img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #FFF;
}
form span{
  background-color: #ece0e0;
  padding: 10px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
}
form span:hover{
  cursor: pointer;
  background-color: rgb(174, 168, 168);
}
.formClose{
  display: flex;
  justify-content: flex-end;
}
.productImg{
  color: #FFF;
} */

/* end Form */

