*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
:root{
  --primary-color: #121242;
  --secondary-color: #232f3e;
  --ternary-color: #ccd9e9;
}
body{
  background-color: var(--ternary-color);
}
.container{
  max-width: 1230px;
  margin: 0px auto;
  padding: 5px 10px;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  border-radius: 5px;
}
ul{
  list-style: none;
}
button,input,select:hover{
  cursor: pointer;
}

/* header */
header {
  background-color: var(--primary-color);
  padding: 15px 0px;
}
.heading {
  padding: 10px 0px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brandName {
  color: #fff;
}
.search {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  color: var(--primary-color);
}
.signupBtn {
  border-radius: 15px;
  padding: 10px 25px;
  border: none;
  font-weight: 600;
}
.headerMenu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.cart {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
}
.cart:hover {
  cursor: pointer;
}
.cart i {
  font-size: 20px;
}
.cartCount {
  width: 20px;
  height: 20px;
  background-color: black;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  top: -9px;
  right: 6px;
  font-size: 15px;
  border-top: 1px solid yellow;
  border-right: 1px solid yellow;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.avatar img:hover {
  cursor: pointer;
}

/* end header */

/* products section */
.popularPosts{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));
}
.popularPost{
  background-color: #FFF;
  display: grid;
  grid-template-rows: 5fr 3fr;
  border-radius: 6px;
  border: 1px solid grey;
  align-items: self-end;
  padding: 10px;
}
.popularPost:hover{
  cursor: pointer;
}
.popularPost img{
  width: 100%;
  height: 100%;
}
.popularPostContent{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.popularPostContent p:nth-child(2){
  color: black;
  font-weight: 600;
}
.popularPostSection{
  background-color: #FFF;
  padding-bottom: 15px;
}
.addToCartBtn{
  border: 1px solid orange;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: orange;
  max-width: 150px;
  font-weight: 500;
}
.addToCartBtn:hover{
  font-weight: 600;
}
/* end products section */

/* Cart Page */
  /* cart list */
.cartDiv{
  display: grid;
  grid-template-columns: 6fr 3fr;
  background-color: yellow;
  gap: 40px;
}
.cartList{
  background-color: grey;
}
.cartSummary{
  background-color: pink;
}
.cartList ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px 15px;
}
.cartListImg{
  width: 70px;
  height: 70px;
}
.cartListImg img{
  width: 100%;
  height: 100%;
}
.cartListDetails{
  text-align: center;
}
.cartListDetails p:first-child{
  font-weight: 500;
}
.increment{
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 500;
  padding-bottom: 2px;
}
.increment,.cartDelete:hover{
  cursor: pointer;
}
.productQuantity{
  display: flex;
    gap: 10px;
}
.quantity{
  font-weight: 500;
}
.actionAndPrice{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 55px;
  gap: 20px;
  align-items: end;
}
.actionAndPrice p{
  font-weight: 500;
}
.actionAndPrice i{
color: red;
}
.cartDelete{
  background-color: grey;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
  /* end cartlist */
  /* cart summary */
  .cartSummary{
    padding: 10px 15px;
  }
.cartSummary ul li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cartSummary button{
  width: 50%;
  height: 30px;
}
.cartPurchase{
  display: flex;
  justify-content: flex-end;
}
.cartPurchase button{
  background-color: green;
  color: #FFF;
  font-weight: 800;
  height: 35px;
  border: none;
  margin-top: 40px;
}
.cartSummary h3{
  padding-bottom: 20px;
}
.totalPrice{
  color: green;
  font-weight: 600;
}
.totalQuantity{
  font-weight: 500;
}
  /* end cart summary */
/* End Cart Page */